{
{% for key, value in docker_daemon_config.items() %}
  "{{ key }}": {% if value is mapping %}{{ value | to_json }}{% elif value is string %}"{{ value }}"{% else %}{{ value | to_json }}{% endif %}{% if not loop.last %},{% endif %}

{% endfor %}
}
